.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.block {
    width: 390px;
    height: 465px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #FFFFFF;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.block h1{
    color: #3D1D9A;
    font-size: 200px;
    margin: auto;
}

.block h4{
    color: #3D1D9A;
    font-size: 40px;
    margin: auto;
}

.main_button {
    display: flex;
    align-items: center;
}
.main_button a{
    margin: auto;
}
.block .main_btn {
    width: 250px;
    height: 40px;
    margin: auto;
    background: linear-gradient(96.85deg, #FFDBA2 10.77%, #FDC66F 90.11%);
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3D1D9A;
    cursor: pointer;
}
.block .main_btn:hover {
    font-weight: 600;
    font-size: 20px;
}