#toTop {
    width:50px;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:20px;
    cursor:pointer;
    display:none;

    background: rgba(61, 29, 154, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
